/*
 * Document-specific styles come next;
 * these are added for the Python documentation.
 *
 * Note that the size specifications for the H* elements are because
 * Netscape on Solaris otherwise doesn't get it right; they all end up
 * the normal text size.
 */

body                    {
	text-align: center;
}

.navigation td          { background-color: #99ccff;
                          font-weight: bold;
                          font-family: avantgarde, sans-serif;
                          font-size: 110%; }

div.warning             { background-color: #fffaf0;
                          border: thin solid black;
                          padding: 1em;
                          margin-left: 2em;
                          margin-right: 2em; }

div.note                { background-color: #fffaf0;
                          border: thin solid black;
                          padding: 1em;
                          margin-left: 2em;
                          margin-right: 2em; }


.grammar                { background-color: #99ccff;
                          margin-right: 0.5in;
                          padding: 0.05in; }

.productions                  { background-color: #bbeeff; }

.realtable              { border-collapse: collapse;
                          border-color: black;
                          border-style: solid;
                          border-width: 0px 0px 2px 0px;
                          empty-cells: show;
                          margin-left: auto;
                          margin-right: auto;
                          padding-left: 0.4em;
                          padding-right: 0.4em;
                          }
.realtable thead        { background-color: #99ccff;
                          border-width: 0px 0px 2px 1px;
                          display: table-header-group;
                          font-family: avantgarde, sans-serif;
                          font-weight: bold;
                          vertical-align: baseline;
                          }
.refcount-info .value   { font-weight: bold;
                          color: #006600; }


/*
 * Some specialization for printed output.
 */
@media print {
  }
.content {
	text-align: left;
	width: 1000px;
}
