
TD {
  FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}
TH {
  FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}

EM {
  FONT-STYLE: italic; FONT-WEIGHT: bold
}
UL {
  MARGIN-TOP: 10pt
}
OL {
  MARGIN-TOP: 10pt
}

A.nav {
  COLOR: #000066; TEXT-DECORATION: none; FONT-WEIGHT: bold
}

SMALL {
  FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8.5pt
}
.tableTitle {
  FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.tableExtras {
  COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8.5pt
}

.articleinfo {
background-image url(guibutton.gif);
}
TABLE.caution, table.warning, Table.tip, Table.note, Table.important {
 
  background-color : #EEE8AA;
  font : bold normal Arial, Helvetica, sans-serif;
  margin : 0;
  border-spacing : 0px;
    margin : 10;
  border-spacing : 0px;
  border: #B22222 1 inset; 
  padding-left: 10%;
  padding-right: 10%;
}
 
 TABLE.footnotes {
  font : bold normal Arial, Helvetica, sans-serif;
  margin : 10;
  border-spacing : 0px;   
  border: black 3 groove; 
  background-color : #66ccff;
  padding-left: 10%;
  padding-right: 10%;
 
}

 .mediaobject {
 text-align : center;
 }
 .mediaobject img {
 text-align : center;
 border: black 1 groove;
 }
 .guibutton, .guilabel {
   background-color : #999999;
   
    
 }
 
 
 .informalexample {
 
  .text-align: left;
  border: black 3 groove; 
  background-color : #66ccff;
  margin: 10;
  padding: 10px;
  
 }
 

 
