body,table{font-size:12px;color:#000000;word-break : break-all; }
select{width:200px;font-family:verdana,tahoma,arial;font-size:10px;}
a{text-decoration:none;color:#008000;}
a:hover{color:#6FB340;}
a.a1{color:#FFFFFF;}
a.a1:hover{color:#EEEAEA;}
a.a2{color:#FFFFFF;}
a.a2:hover{color:#6FB340;}
a.a3{color:#000000;}
#table1{width:100%;height:25px;color:#FFFFFF;}
#td1{background:#000000;padding:1px 10px 0px 10px;font-family:verdana,tahoma,arial;letter-spacing:2px;font-weight:bold;white-space: nowrap; }
#td2{background:#7F4D80;padding:1px 10px 0px 10px;letter-spacing:1px;white-space: nowrap; }
#div1{padding:24px 12px;font-family:verdana,tahoma,arial;font-size:12px;line-height:18px;}
#div2{border-bottom:1px solid #666666;padding-top:20px;}
#span1{width:254px;font-family:verdana,tahoma,arial;font-size:18px;font-weight:bold;line-height:24px;}
.span2{color:#C00000;}
#div3{padding-top:8px;border-top:1px solid #000000;line-height:15px;}
#span3{font-size:10px;}
.span4{color:#C000C0;}
.ie{color:#0000FF;}
.ns{color:#B8860B;}
.no{color:#FF3300;}
.wc{color:#008000;}
a.ie{color:#0000FF;}
a.ns{color:#B8860B;}
a.no{color:#FF3300;}
table.meme{font-family:tahoma,verdana,arial;font-size:11px;background:#000000;}
table.meme th,table.meme td{text-align:left;vertical-align:middle;padding:6px 8px;background:#FFFFFF;}
table.meme th{background:#FAFAD2;}
.index{font-family:tahoma,arial;font-size:12px;font-weight:bold;}